<html>
    <head>
        <title>GCC's Low-cost Airlines - {{context}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/airplanes.css') }}"/>
        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>
    </head>
    <body onload="main()">
        <img src="{{airline_image}}"/>
        <main >
        <h2 ><strong>{{ context }} </strong></h2>
        <svg width="500" height="500"></svg> <br/>
        <h1><strong> All tweets:</strong></h1>
        <div class = 'tweets'>
        <div class="tweet">
        <table>
          <tr>
            <th>tweet</th>
            <th>class</th>
          </tr>
        {%for tweet in tweets %}
          <tr>
            <td> {{tweet.tweet}} </td>
            <td> {{tweet.class}} </td>
        {% endfor %}
          </tr>
        </table>
        </div>
        </div>
        </main>
    </body>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script>
    function main() {
        // d3 code goes here

        let pos = '{{postive_count}}';
        let neg = '{{negative_count}}';
        var newData = [
            { count: pos, emote: "positive" },
            { count: neg, emote: "negative" } 
        ]
        let data = [pos,neg];

        // Calculate SVG paths and fill in the colours
        let svg = d3.select("svg"),
        width = svg.attr('width'),
        height = svg.attr('height')/2,
        radius = ( Math.min(width, height) / 2 ) + 70
        let g = svg.append('g').attr('transform', 'translate('+ (width / 2)+ ',' + (height/2 +100)  + ')');
        let color = d3.scaleOrdinal(['#60a5fa','#8b5cf6'])
        let arc = d3.arc()
                .innerRadius(0)
                .outerRadius(radius);
        var pie = d3.pie().value(function(d) {return d.value; })
        var data_ready = pie(d3.entries(data))

        // Creating arc
        let arcs = g.selectAll('arc')
          .data(data_ready)
          .enter()
          .append('g')
          .attr('class','arc');

        // Append the path to each g
        arcs.append('path')
            .attr('fill',function(d, i){
                return color(i)
            }).attr('d', arc);

        svg.append("g")
        .attr("transform", "translate(" + (width / 2 - 120) + "," + 10 + ")")
        .append("text")
        .text("Recent tweets")
        .attr("class", "title");

        

        // Adding data to each arc
        arcs.append("text").attr("transform",(d)=>{ 
            return "translate("+ arc.centroid(d) + ")"; 
        }) .text(function(d){ return d.data.value+'%'; });


    // add legend
    var legendG = svg.selectAll(".legend")
      .data(pie(newData))
      .enter().append("g")
      .attr("transform", function(d,i){
        return "translate(" + (width - 110) + "," + (i * 15 + 20) + ")";
      })
      .attr("class", "legend");   
    // add rect color to each legend
    legendG.append("rect")
      .attr("width", 10)
      .attr("height", 10)
      .attr("fill", function(d, i) {
        return color(i);
      });
    // add text to each legend
    legendG.append("text")
      .text(function(d){
        return  d.data.emote;
      })
      .style("font-size", 12)
      .attr("y", 10)
      .attr("x", 11);

    }

    
    </script>

</html>